* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

button:hover{
    cursor: pointer;
}

#bomb-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1100px;
    height: 750px;
    background-color: rgb(238, 229, 229);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.grid-box{
    width: 300px;
    height: 300px;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#timer-set h2{
    background-color: black;
    /* border: 5px solid grey; */
    color: red;
    font-family: "Segment7Standard";
    margin: 20px;
    height: 75px;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#timer-set p{
    background-color: black;
    /* border: 2.5px solid grey; */
    width: 110px;
    height: 110px;
    color: red;
    font-size: 95px;
    text-align: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#strike1{
    position: absolute;
    top: 190px;
    margin-left: 20px;
}

#strike2{
    position: absolute;
    top: 190px;
    margin-left: 170px;
}

.button-puzzle{
    width: 275px;
    height: 275px;
    margin: 12.5px;
}

#big-button{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.red{
    background-color: red;
}

.white{
    background-color: rgb(194, 197, 197);
}

.blue{
    background-color: rgb(0, 119, 255);
}

.correct-button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: black;
    border: 5px solid rgb(58, 57, 57);
}

.button-puzzle .correct-button{
    position: relative;
    bottom: 375px;
    left: 230px;
}

.arrow-button{
    background-color: transparent;
    border: none;
    font-size: 80px;

}

#up-arrow{
    transform: rotate(180deg);
    position: relative;
    bottom: 270px;
    left: 117px;
}

#down-arrow{
    position: relative;
    bottom: 100px;
    left: 75px
}

.arrow-button:hover{
    cursor: pointer;
}

.wire-puzzle{
    width: 100%;
    height: 100%;
}

.wire-set{
    margin: 35px auto;
    height: 200px;
    width: 200px;
}

#wire-bar1{
    position: relative;
    bottom: 252.5px;
    left: 10px;
    width: 40px;
    height: 220px;
    background-color: rgb(58, 58, 58);
}

#wire-bar2{
    position: relative;
    bottom: 472.5px;
    left: 250px;
    width: 40px;
    height: 220px;
    background-color: rgb(58, 58, 58);
}

.wire-red{
    background-color: red;
}

.wire-yellow{
    background-color: rgb(255, 238, 0);
}

.wire-blue{
    background-color: blue;
}

.wire-green{
    background-color: green;
}

.wire-white{
    background-color: rgb(194, 197, 197);
}

/* .wire{
    width: 200px;
    height: 25px;
    margin: 25px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} */

#wire1{
    width: 200px;
    height: 25px;
    margin: 25px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#wire2{
    width: 200px;
    height: 25px;
    margin: 25px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#wire3{
    width: 200px;
    height: 25px;
    margin: 25px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#wire4{
    width: 200px;
    height: 25px;
    margin: 25px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.wire:hover{
    cursor: pointer;
}

.correct-bar{
    width: 200px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(87, 86, 86);
    position: absolute;
    top: 290px;
    left: 79px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#hex-set h3{
    width: 250px;
    height: 50px;
    background-color: black;
    margin: 10px 25px;
    font-size: 37px;
    padding: 25px 0;
    color: white;
    text-align: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    font-family: monospace;
}

.hex-input{
    width: 230px;
    height: 75px;
    background-color: black;
    border: none;
    margin: 0 35px;
    text-align: center;
    font-size: 25px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: white;
}

.hex-input::placeholder{
    color: white
}

.hex-button{
    width: 200px;
    height: 45px;
    margin: 10px 50px 0 50px;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(160, 158, 158);
    border: none;
}

.hex-button:hover{
    cursor: pointer;
}

.hex-correct-bar{
    width: 280px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(87, 86, 86);
    box-shadow: rgb(204, 219, 232) 2px 2px 4px 0px inset, rgba(255, 255, 255, 0.5) -2px -2px 4px 1px inset;
    margin: 25px 8px;
}

#two-digit-set h3{
    width: 250px;
    height: 50px;
    background-color: black;
    margin: 10px 25px;
    font-size: 45px;
    padding: 25px 0;
    color: white;
    text-align: center;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    font-family: monospace;
}

.two-digit-input{
    width: 230px;
    height: 75px;
    background-color: black;
    border: none;
    margin: 0 35px;
    text-align: center;
    font-size: 25px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    color: white;
}

.two-digit-input::placeholder{
    color: white
}

.two-digit-button{
    width: 200px;
    height: 45px;
    margin: 10px 50px 0 50px;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(160, 158, 158);
    border: none;
}

.two-digit-correct-bar{
    width: 280px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(87, 86, 86);
    box-shadow: rgb(204, 219, 232) 2px 2px 4px 0px inset, rgba(255, 255, 255, 0.5) -2px -2px 4px 1px inset;
    margin: 25px 8px;
}

#binary-set{
    display: flex;
    flex-wrap: wrap;
}

#binary-correct-bar{
    width: 280px;
    height: 25px;
    background-color: black;
    margin: 5px 10px;
    box-shadow: rgb(204, 219, 232) 2px 2px 4px 0px inset, rgba(255, 255, 255, 0.5) -2px -2px 4px 1px inset;
}

.binary-bar{
    width: 25px;
    height: 180px;
    margin: 8.9px;
}

.bar-white{
    background-color: white;
    box-shadow: rgb(204, 219, 232) 2px 2px 4px 0px inset, rgba(255, 255, 255, 0.5) -2px -2px 4px 1px inset;
}

.bar-black{
    background-color: black;
    box-shadow: rgb(204, 219, 232) 2px 2px 4px 0px inset, rgba(255, 255, 255, 0.5) -2px -2px 4px 1px inset;
}

.binary-button{ 
    width: 125px;
    height: 50px;
    margin: 10px 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#binary-button-red{
    background-color: red;
}

#binary-button-green{
    background-color: rgb(0, 255, 0);
}

#death-screen{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.973);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 200px;
    font-weight: bold;
    color: red;
    z-index: 6;

    animation: fadeIn;
    animation-duration: 4s;
}

#defused-screen{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.973);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 200px;
    font-weight: bold;
    color: red;
    z-index: 6;

    animation: fadeIn;
    animation-duration: 4s;
}
